<!DOCTYPE html>


<html>

    <head>
        <title>Home Page</title>
        <link rel="icon" href="/img/download.jpg">
        <link rel="stylesheet" href="/css/styles.css">
       
    </head>

    <body>

        <div class="main-content">
        {{>header}}     
        <p>Use this to get the wweather!</p>   
        <form action="">
            <input placeholder="location" type="text">
            <button>Search</button>
        </form>
        <p id="bam"></p>
        <p id="bang"></p>

        </div>
        {{>footer}}
         <script src="/JS/app.js"></script>
    </body>

</html>